.creating__block{
    padding-top: 34px;
    padding-bottom: 55px;
}
@media (min-width: 768px) {
    .creating__block{
        padding-top: 22px;
        padding-bottom: 32px;
    }

    .creating-photo{
        width: 704px;
        margin-top: -88px;
    }
}
@media (min-width: 1440px) {
    .creating__block{
        padding-top: 80px;
        padding-bottom: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img{
            display: none;
        }
    }
}

.creating__heading{
    position: relative;

    h1{
        max-width: 195px;
    }

    h1, h6{
        color: #fff;
    }
    h6{
        font-size: 14px;
        margin-bottom: 20px;
        letter-spacing: 0;
    }
}
@media (min-width: 768px) {
    .creating__heading{

    }
}
@media (min-width: 1440px) {
    .creating__heading{
        h1{
            max-width: 240px;
        }

        h6{
            max-width: 365px;
        }
    }
}

.creating__form{
    margin-top: 20px;
    padding: 36px 18px 36px 17px;

    &-contacts{
        gap: 40px;

        &-input{
            width: 359px;
            display: flex;
            flex-direction: column;
        }

        &-button{
            padding: 11px 62px 11px 63px;
            margin: 0 auto;
            margin-top: -16px;
        }
    }
}
@media (min-width: 768px) {
    .creating__form{
        margin-top: -60px;
        position: relative;
        padding: 24px;
        max-width: 600px;

        &-contacts{
            gap: 24px;

            &-input{
                width: 264px;
            }

            &-button{
                margin-top: 12px;
                margin-left: 374px;
                padding: 11px 24px;
            }
        }
    }
}
@media (min-width: 1440px) {
    .creating__form{
        margin-top: 0;
    }
}