.creating__block{
    padding-top: 34px;
    padding-bottom: 55px;
}
@media (min-width: 768px) {
    .creating__block{
        padding-top: 22px;
        padding-bottom: 32px;
    }

    .creating-photo{
        width: 704px;
    }
}
@media (min-width: 1440px) {

}

.creating__heading{
    h1, h6{
        color: #fff;
    }
    h6{
        font-size: 14px;
        max-width: 344px;
        margin-bottom: 20px;
    }
}
@media (min-width: 768px) {
    .creating__heading{
        h1{
            max-width: 195px;
        }
    }
}
@media (min-width: 1440px) {

}

.creating__form{
    margin-top: 20px;
    max-width: 393px;
    padding: 36px 18px 36px 17px;

    &-contacts{
        gap: 40px;

        &-input{
            width: 359px;
            display: flex;
            flex-direction: column;
        }

        &-button{
            padding: 11px 62px 11px 63px;
            margin: 0 auto;
            margin-top: -16px;
        }
    }
}
@media (min-width: 768px) {
    .creating__form{
        margin-top: -60px;
        position: relative;
        padding: 24px;
        max-width: 600px;

        &-contacts{
            gap: 24px;
            flex-direction: row;
            flex-wrap: wrap;

            &-input{
                width: 264px;
            }
        }
    }
}
@media (min-width: 1440px) {

}