.faq{
    margin-top: 32px;
    margin-bottom: 32px;
}

.faq__example{
    display: flex;
    flex-direction: column;

    img{
        width: 60px;
        height: 60px;
    }

    h3{
        max-width: 299px;
        margin: 32px 0;
    }

    &-item{
        display: flex;
        align-items: center;

        border-bottom: 1px #D0D5DD solid;
    }
}