.team__heading{
    margin-bottom: 20px;
    h6{
        font-size: 14px;
        max-width: 376px;
        margin-top: -12px;
    }
}
@media (min-width: 768px) {
    .team__heading{
        margin-bottom: 40px;
        h6{
            margin-top: 0;
            max-width: 414.839px;
        }
    }
}
@media (min-width: 1440px) {
    .team__heading{
        margin-bottom: 0px;
        h6{
            font-size: 15px;
            max-width: 600px;
        }
    }
}

.team__block{
    padding-top: 28px;
    padding-bottom: 45px;
    &-statistics{
        justify-content: space-between;
        margin-top: 32px;
        p{
            color: #667085;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: -0.24px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}
@media (min-width: 768px) {
    .team__block{
        padding-top: 38px;
        padding-bottom: 52px;

        &-statistics{
            margin-top: 52px;
            justify-content: space-around;

            h1{
                font-size: 48px;
            }

            p{
                margin-top: 8px;
                margin-bottom: 40px;
            }
        }

        &-text{
            font-size: 14px;
            margin-left: 50px;
        }
    }
}
@media (min-width: 1440px) {
    .team__block{
        padding-top: 80px;
        padding-bottom: 80px;
        &-statistics{
            justify-content: space-between;
            margin-top: 0;

            p{
                font-size: 15px;
                font-weight: 500;
            }
        }

        &-text{
            margin-left: 0;
            font-size: 15px;
        }
    }
}

#team-photo{
    width: 392px;
    height: 263px;
}
@media (min-width: 768px) {
    #team-photo{
        width: 702px;
        height: 392px;
    }
}
@media (min-width: 1440px) {
    #team-photo{
        width: 603px;
        height: 392px;
        margin-top: -125px;
    }

    .team-1440{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        gap: 21px;
    }
}