.team__heading{
    margin-bottom: 20px;
    h6{
        font-size: 14px;
        max-width: 376px;
    }
}

.team__block{
    padding-top: 28px;
    padding-bottom: 45px;
    &-statistics{
        justify-content: space-between;

        p{
            color: #667085;
            font-weight: 400;
            line-height: 14px;
            letter-spacing: -0.24px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

#team-photo{
    width: 392px;
    height: 263px;
}