.footer__logo {
    font-size: 32px;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    white-space: nowrap;
    line-height: 18px; /* 50% */
    letter-spacing: -0.154px;
}
@media (min-width: 768px){      
    .footer__logo {
        font-size: 36px;
    }
} 

.footer{
    background-color: #101828;
    border-radius: 12px;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.08), 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
}
@media (min-width: 1440px){     
    .footer{
        margin-bottom: 48px;
    }
}

.footer__container{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px;
    gap: 52px;
}
@media (min-width: 768px){      
    .footer__container{
        gap: 32px;
    }
} 
@media (min-width: 1440px){     
    .footer__container{
        gap: 40px;
    }
}

.footer__contacts{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    max-width: 427px;
    flex-wrap: wrap;
    gap: 32px;
}
@media (min-width: 768px){      
    .footer__contacts{
        flex-wrap: nowrap;
        max-width: 690px;
        margin-left: 30px;
        gap: 0;
    }
} 
@media (min-width: 1440px){     
    .footer__contacts{
        max-width: 1176px;
    }
}

.footer__contacts-item{
    display: flex;
    width: 154px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
@media (min-width: 768px){      
    .footer__contacts-item{
        display: flex;
        width: 176px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
    .footer__contacts-item:nth-child(2){
        width: 156px;
    }
} 
@media (min-width: 1440px){     
    .footer__contacts-item, .footer__contacts-item:nth-child(2){
        width: 294px;
    }
}

.footer__contacts-item-telephone{
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer__contacts-item-text{
    color: #98A2B3;
    font-family: SF-Pro-Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.154px;
    white-space: nowrap;
    margin: 0 auto;
}

.footer__contacts-item-link{
    color: #FFF;
    white-space: nowrap;
    font-family: SF-Pro-Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px; /* 129.412% */
    letter-spacing: -0.408px;
    text-decoration: none;
}
@media (min-width: 768px){      

} 
@media (min-width: 1440px){     
    .footer__contacts-item-link{
        font-size: 17px;
    }
}

.footer__item{
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer__item-text{
    color: #FFF;
    font-family: SF-Pro-Text;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 123.077% */
    letter-spacing: -0.078px;
    margin: 0;
}