.header {
    position: fixed;
    margin-top: 24px;
    top: 0;
    z-index: 50;
}

.header__container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 12px;
    padding: 16px 24px;
    gap: 80px;
}

.header__logo {
    font-size: 20;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #2D66EE;
    text-decoration: none;
    white-space: nowrap;
    /* margin: 0px 0px 0px 24px; */
}

.header__menu {
    display: flex;
    /* margin: 0px 0px 0px 85.1px; */
}

.menu {}

.menu__list {
    display: flex;
    gap: 24px;
    padding: 0;
}

.menu__item {}

.menu__item:not(:first-child) {
    /* margin: 0px 0px 0px 24px; */
}


.menu__link {
    font-size: 14;
    font-family: "SF-Pro-Text", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
}

.header__contacts{
    display: flex;
    align-items: flex-start;
    gap: 32px;
}

.contacts__telephone{
    display: flex;
    align-items: center;
    gap: 8px;
}

.item{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}

.contacts__item {
    font-size: 14px;
    font-family: "SF-Pro-Text", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #2D66EE;
    white-space: nowrap;
}

.contacts__item-img1 {
    width: 13.8px;
    height: 19.8px;
}

.contacts__email{
    display: flex;
    align-items: center;
    gap: 8px;
}

.contacts__item-img2 {
    width: 19.8px;
    height: 15.8px;
}