.header {
    position: fixed;
    margin-top: 20px;
    top: 0;
    z-index: 100;
}
@media (min-width: 768px){     
    .header{
        margin-top: 16px;
    }
} 
@media (min-width: 1440px){     
    .header{
        margin-top: 24px;
    }
}


.header__container {
    display: flex;
    align-items: center;
    background-color: white;
    height: 90px;
    border-radius: 12px;
    padding: 35px 17px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}
@media (min-width: 768px){     
    .header__container{
        padding: 25px 32px;
        height: 90px;
        display: inline-flex;
        justify-content: space-between;
        min-width: 702px;
    }
} 
@media (min-width: 1440px){     
    .header__container{
        padding: 16px 24px;
        height: 56px;
    }
}


.logo {
    font-size: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    color: #2D66EE;
    text-decoration: none;
    white-space: nowrap;
    line-height: 18px;
    padding-right: 114px;
}
@media (min-width: 768px){     
    .logo{
        padding-right: 0;
    }
} 
@media (min-width: 1440px){     
    .logo{
        padding-right: 0;
        margin-right: 80px;
    }
}

.menu__btn{
    width: 40px;
    height: 20px;
    background-color: #fff;
    position: relative;
    align-items: center;
    border: none;
    margin-right: 91px;
    color: #2D66EE;
}
.menu__btn:after{
    content: "";
    width: 40px;
    height: 4px;
    border-radius: 1px;
    background-color:#2D66EE;
    position: absolute;
    box-shadow: 0 8px 0 0, 0 16px 0 0;
    top: 0px;
    left: 0;
}
@media (min-width: 768px){     
    .menu__btn{
        width: 59px;
        height: 40px;
    }
    .menu__btn:after{
        content: "";
        width: 59px;
        height: 8px;
        border-radius: 1px;
        background-color:#2D66EE;
        position: absolute;
        box-shadow: 0 16px 0 0, 0 32px 0 0;
        top: 0px;
        left: 0px;
    }
} 
@media (min-width: 1440px){     
    .menu__btn, .menu__btn:after {
        display: none;
    }
}

.menu {
    display: flex;
}


.menu__list {
    display: none;
    margin-right: 80px;
}
@media (min-width: 768px){     

} 
@media (min-width: 1440px){     
    .menu__list{
        display: flex;
        gap: 24px;
        padding: 0;
    }
}
.menu__item-link {
    font-size: 14px;
    font-family: "SF-Pro-Text", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: inherit;
    line-height: 18px; /* 128.571% */
    letter-spacing: -0.154px;
}


.contacts{
    display: none;
}
@media (min-width: 768px){     
    .contacts{
        display: flex;
    }
}
@media (min-width: 1440px){     
    .contacts{
        display: flex;
        align-items: flex-start;
        gap: 32px;
    }
}


.contacts__telephone{
    display: none;
}
@media (min-width: 768px){     
    .contacts__telephone{
        display: none;
    }
}
@media (min-width: 1440px){     
    .contacts__telephone{
        display: flex;
        align-items: center;
        gap: 8px;
    }
}


.contacts__item{
    display: flex;
    align-items: flex-start;
    gap: 16px;
}


.contacts__link {
    font-size: 14px;
    font-family: "SF-Pro-Text", sans-serif;
    font-weight: 500;
    text-decoration: none;
    color: #2D66EE;
    white-space: nowrap;
}


.contacts__email{
    display: flex;
    align-items: center;
    gap: 8px;
}


