.info{
    margin-top: 80px;
    margin-bottom: 80px;
}

.info__container{
    display: flex;
    gap: 232px;
    margin-bottom: 82px;
}

.info__used1{
    margin-top: 34px;
    width: 496px;
}

.info__used2{
    margin-top: 32px;
    width: 496px;
}

.development{
    color: #1D2939;
    font-family: SF-Pro-Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    letter-spacing: 0.38px;
}
.info__development-list{
    padding: 0;
}
.info__development-list li{
    padding: 12px 0;
}
.info__development-list > *::after {
    content: "";
    margin-left: 12px;
    background: url(/src/assets/img/chevron_right_small_24.svg) no-repeat;
    height: 24px;
    width: 24px;
    display: inline-block;
}

