.intro{
    position: relative;
    min-height: 900px;
}
@media (min-width: 768px){     
    .intro{
        position: relative;
        min-height: 762px;
    }
} 
@media (min-width: 1440px){    
    .intro{
        position: relative;
        min-height: 900px;
    } 
}

.intro__heading{
    padding-top: 138px;
}
@media (min-width: 768px){     

} 
@media (min-width: 1440px){     
    .intro__heading{
        padding-top: 160px;
    }
}

.intro__form {
    margin-top: 64px;
    max-width: 393px;
    display: inline-flex;
    padding: 32px 65px 32px 33px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16), 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
}
@media (min-width: 768px){     
    .intro__form {
        margin-top: 32px;
        padding: 32px;
        max-width: 382px;
    }
} 
@media (min-width: 1440px){     
    .intro__form {
        margin-top: 64px;
        max-width: 724px;
        display: inline-flex;
        padding: 24px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 32px;
        border-radius: 12px;
        background: #FFF;
        box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.16), 0px 0px 2px 0px rgba(0, 0, 0, 0.08);
    }
}

.intro__form-text{
    max-width: 295px;
}

.intro__form-contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
@media (min-width: 768px){     

} 
@media (min-width: 1440px){     
    .intro__form-contacts {
        gap: 24px;
        flex-direction: row;
        align-items: flex-start;
    }
}

.intro__form-contacts-input {
    max-width: 224px;
    border-bottom: 1px #D0D5DD solid;
    color: #667085;
    font-family: SF-Pro-Text;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px; /* 123.077% */
    letter-spacing: -0.078px;
}

.intro__form-contacts-input input[type="text"]{
    color: #101828;
    font-family: SF-Pro-Text;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 129.412% */
    letter-spacing: -0.408px;
}

#phone-number{
    background-image: url(/src/assets/img/🇰🇿.png);
    padding-left: 25px;
    background-size: 16px;
    background-repeat: no-repeat;
    background-position: left;
}

.intro__form-contacts-button {
    padding: 11px 24px;
    background-color: #2D66EE;
    color: #FFF;
    font-family: SF-Pro-Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.154px;
    text-align: left;
    max-width: none;
    border-radius: 8px;
    border: none;
}
@media (min-width: 768px){     

} 
@media (min-width: 1440px){     
    .intro__form-contacts-button {
        max-width: 132px;
    }
}

.intro__images{
    position: absolute;
    top: -591px;
    left: 720px;
    display: flex;
    gap: 20px;
    width: 624px;
    flex-wrap: wrap;
    transform: rotate(-12deg);
}

.intro__images > div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.intro__images > div > img{
    width: 292.226px;
    height: 632.767px;
    border-radius: 24px;
}

@media (min-width: 768px){     

} 
@media (min-width: 1440px){     
    .intro__images > div{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
    .intro__images > div > img{
        width: 292.226px;
        height: 632.767px;
        border-radius: 24px;
    }
}



