@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

p{
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
}

h1{
    font-size: 64px;
    color: #1F3F68;
}

.style-h2{
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

h3{
    font-size: 36px;
    text-align: center;

}

h4{
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

input, textarea{
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.style-submit{
    background-image: linear-gradient(to left, #4875df, #8f55ec, #4173e7);
    margin: 10px;
    padding: 15px 45px;
    text-transform: uppercase;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    border: none;
    display: block;
}

form{
    padding: 10px;
    position: relative;
    background: url(/static/1674277679.jpg);
}
 
ul.breadcrumb-ul {
    display: flex;
    list-style: none;
    background: linear-gradient(to left, #4875df, #8f55ec, #4173e7);
}

ul.breadcrumb-ul li {
    border-right: 2px white solid;
    border-radius: 20px;
    box-shadow: 2px 0px 0px rgba(0, 0, 0, 1);
}

ul.breadcrumb-ul li a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding: 10px 40px;
}