@import "./global.css";
@import "./fonts.css";
@import "./utils.css";
@import "./header.css";
@import "./intro.css";
@import "./info.css";
@import "./industries.css";
@import "./footer.css";

.wrapper {
    min-height: 100%;
    overflow: hidden;
}

.container {
    max-width: 392px;
    margin: 0 auto;
}
@media (min-width: 768px){     
    .container{
        max-width: 688px;
        margin: 0 auto;
        padding: 0px;  
    } 
} 
@media (min-width: 1440px){     
    .container{         
        max-width: 1224px;
        margin: 0 auto;    
    } 
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 32px;
    max-width: 383px;
}
@media (min-width: 1440px){     
    .heading {
        max-width: 600px;
    }
}

.color{
    background-color: #F2F4F7;
    overflow: clip;
}

body {
    color: #101828;
    margin: 0;
}

span {
    color: #306FF5;
}

ul{
    margin: 0;
    list-style-type: none;
}

input{
    border: none;
    margin: 8px 0;
}
input:focus-visible{
    outline: none;
}

h1 {
    color: #101828;
    font-family: Inter;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.326px;
    margin: 0;
    line-height: 144%; /* 51.84px */
}
@media (min-width: 1440px){     
    h1{
        font-size: 36px;
    }
}

h3{
    color: #101828;
    font-family: SF-Pro-Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px; /* 120% */
    letter-spacing: 0.38px;
}

h4 {
    color: #101828;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.38px;
    margin: 0;
}
@media (min-width: 1440px){     
    h4 {
        font-size: 20px;
    }
}

h6 {
    font-family: SF-Pro-Text;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.24px;
    margin: 0;
    line-height: 20px; /* 133.333% */
}

p{
    color: #344054;
    font-family: SF-Pro-Text;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 129.412% */
    letter-spacing: -0.408px;
}
@media (min-width: 768px){     
} 
@media (min-width: 1440px){     
    p{
        font-size: 17px;
    }
}